.main {
  background-image: url(../public/4882066\ 1.png);
  background-color: #cccccc;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 366px;
}

.range_bar input {
  width: 366px;
  height: 21px;
  border-radius: 10px;
  background: #FFD748;
  cursor: pointer;
}

.meaning_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 531px;
}

.meaning_range_bar input {
  width: 531px;
  cursor: pointer;
}

.btn {
  width: 271px;
  height: 44.44px;
  background: #FFD748;
  border-radius: 20px;
  border: none;
  margin: 10px;
  font-family: Helvetica;
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0px;
  cursor: pointer;
}

.btn_play {
  width: 260px;
  height: 60px;
  background: #38DF7A;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  color: white;
  border: none;
  font-family: Helvetica;
  font-size: 32px;
  font-weight: 700;
  line-height: 37px;
  letter-spacing: 0px;
  cursor: pointer;
}

.bar_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 700px;
  height: 500px;
  background: #FFFFFF;
  border-radius: 40px;
  background: linear-gradient(white, white) padding-box,
              linear-gradient(to bottom, #7F75F0, #101F32) border-box;
  border: 20px solid transparent;
}

.range_bar input[type=range], .meaning_range_bar input[type=range] {
  -webkit-appearance: none;
}
.range_bar input[type="range"]::-webkit-slider-thumb, .meaning_range_bar input[type=range]::-webkit-slider-thumb  {
  -webkit-appearance: none;
  height: 23px;
  width: 23px;
  border-radius: 50%;
  background: #104987;
  cursor: pointer;
  box-shadow: 0 0 2px 0 #555;
}
.range_bar input[type=range]::-webkit-slider-runnable-track, .meaning_range_bar input[type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: #FFD748;
  width: 366px;
  height: 21px;
  border-radius: 10px;

}

/* Second Page */

.container {
  background: #FFBDB0;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 200px;
  height: 300px;
  border-radius: 12px;
  border: 5px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  cursor: grab;
}



/* test

.container {
  padding: 50px;
  display: flex;
  justify-content: space-between;
}

.box1 {
  width: 320px;
  height: 240px;
  background: blueviolet;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  max-width: 320px;
}

.box2 {
  width: 320px;
  height: 240px;
  background: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box3 {
  width: 320px;
  height: 240px;
  background: lightgreen;
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* Third ppage */

.main_wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}