.main {
  background-image: url(../public/4882066\ 1.png);
  background-color: #cccccc;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: #fff;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 366px;
}

.range_bar input {
  width: 366px;
  height: 21px;
  width: 366px;
  border-radius: 10px;
  background: #FFD748;
}

.meaning_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 531px;
}

.meaning_range_bar input {
  width: 531px;
}

.btn {
  width: 271px;
  height: 44.44px;
  background: #FFD748;
  border-radius: 20px;
  border: none;
  margin: 10px;
  font-family: Helvetica;
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0px;
}

.btn_play {
  width: 260px;
  height: 60px;
  background: #38DF7A;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  color: white;
  border: none;
  font-family: Helvetica;
  font-size: 32px;
  font-weight: 700;
  line-height: 37px;
  letter-spacing: 0px;
}